 html {
 	background-color: tomato;
 }

 body {
 	width: 75%;
	margin: 0 auto; 

	display: flex;
	min-height: 100vh;
	flex-direction: column;
	background-color: white;
 }

 #burger {
 	display: block;
    margin: auto;
 }

 h1 {
 	text-align: center;
 	font-family: arial;
 	font-size: 65px;
 	margin: 40px;
 }

 h2 {
 	text-align: center;
 	font-family: arial;
 	font-size: 35px;
 	margin: 15px;
 }

 .burgerAvailable {
 	font-family: arial;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 10px;
 	padding: 10px;
 	background-color: #90EE90;
 	border: none;
 }

 .burgerAvailable:hover {
 	background-color: #81ff94;
 }

 .burgerEaten {
 	font-family: arial;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	margin: 10px;
 	padding: 10px;
 	background-color: orange;
 }

 h3 {
  	text-align: center;
 	font-family: arial;
 	font-size: 40px;
 	margin: 50px;
 }

 .formContainer {
 	background-color: orange;
 }

 .addBurgerButton {
 	font-family: arial;
 	font-weight: normal;
 	font-size: 20px;
 	text-align: center;

 	border-radius: 25px;
 	width: 100%;
 	margin: 0;
 	padding: 10px;
 	background-color: tomato;
 	border: none;
 }

.addBurgerButton:hover {
	background-color: orange;
}

